.header-bg {
  background-color: #2b3c90 !important;
}

.switch-component {
  margin-top: 116px;
}

.row-ct {
  padding: 20px 10px;
}

.row-ct-02 {
  padding: 20px 10px 0px 10px;
}

.filer-heading {
  font-size: 30px;
}

.pagination {
  float: right;
  width: auto;
  border: 3px solid green;
}

.header-icon {
  font-size: 25px;
}
