$theme_color1: #2b4992;
$theme_color2: #51338b;
$theme_color3: #2b3c90;
$font_family_h1h2: "Bariol";

.card-bg-01 {
  background-color: rgba(172, 152, 197, 0.4);
  width: 100%;
}

.card-title {
  color: $theme_color1;
}

.card-text {
  color: $theme_color2;
}

.btn-01 {
  color: #fff;
  border: 2px solid $theme_color3;
  background-color: $theme_color3;
  transition: border 0.2s, color 0.2s, background-color 0.2s;
  &:hover {
    color: $theme_color3;
    border: 2px solid $theme_color3;
    background-color: #fff !important;
  }
}

.btn-02 {
  color: $theme_color3;
  border: 2px solid $theme_color3;
  background-color: #fff;
  transition: border 0.2s, color 0.2s, background-color 0.2s;
  &:hover {
    color: #fff;
    border: 2px solid $theme_color3;
    background-color: $theme_color3;
  }
}

.form-select {
  text-align: center;
  text-align-last: center;
}

.card-link {
  text-decoration: underline;
  color: $theme_color2;
  cursor: pointer;
}

.card-title {
  color: $theme_color3;
}

.card-text {
  color: $theme_color3;
}

.header-h2 {
  color: $theme_color3;
}

.list {
  list-style-type: none;
  text-align: left;
}

.buttons-left-align {
  text-align: left;
}

.card_no_border {
  border: none !important;
}

.nav-footer {
  background-color: #2b3c90;
}
